<!--Start about content area-->
<section class="about-content-area">
    <div class="container">
        <div class="row">
            <!--Start single blog post-->
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="about-content-box">
                    <h2>Maintains a highly trained & experi-<br> enced workforce.</h2>
                    <p>Denouncing pleasure and praising pain was born and will give you a completed account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or ure itself, because consequences extremely.</p>
                    <div class="bottom-text">
                        <h3>Our Milestones</h3>
                        <p>In 1972 builder of human happiness one rejects, dislikes avoids pleasure itself  are rationally encounter consequences great explorer of the truth.</p>
                    </div>
                    <div class="bottom-text">
                        <img src="/images/services/tech-safety-seal.png" style="width: 245px; margin: 8px 12px;" alt="Technician Safety Seal">
                        <img src="/images/services/satisfaction-guarantee-seal.png" style="width: 172px;" alt="Technician Safety Seal">
                    </div>
                    <!-- <div class="download-box">
                        <div class="icon-holder">
                            <span class="icon-download"></span>   
                        </div>
                        <div class="title-holder">
                            <h3>Company Growth</h3>
                            <span>In Last Year</span>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="about-right-img">
                    <img src="/images/resources/about.jpg" alt="Awesome Image">
                </div>
            </div>
        </div>
    </div>
</section>
<!--End about content area-->