<!--Start about content area-->
<section class="about-content-area">
    <div class="container">
        <div class="row">
            <!--Start single blog post-->
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="about-content-box">
                    <h2>Max Electric Inc. is a fully licensed and insured residential electrical contractor. We provide high-quality electrical services to our residential customers in the MidSouth.</h2>
                    <p>Our highly trained residential electricians specialize in inspecting, repairing, and replacing the electrical in your home. It’s our job to make sure your home is free of electrical hazards and safe for you and your loved ones. Your safety is our #1 concern! We offer our customers a wide range of residential electrical services. <a href="/services">View our Services</a> & get inspired from <a href="/gallery">our work</a>.</p>
                    <h5>Our team of trained electricians are dedicated to providing quality work and service that will exceed your expectations.</h5>
                    <div class="bottom-text">
                        <img src="/images/services/tech-safety-seal.png" style="width: 260px; margin: 8px 20px 8px 2px;" alt="Technician Safety Seal">
                        <img src="/images/services/satisfaction-guarantee-seal.png" style="width: 172px;" alt="Technician Safety Seal">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="about-right-img">
                    <img src="/images/resources/about.jpg" alt="Awesome Image">
                </div>
            </div>
        </div>
    </div>
</section>
<!--End about content area-->