<!--Start contact form area-->
<section class="contact-info-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
                <div class="contact-form">
                    <div class="sec-title">
                        <div class="title">Send Your Mesage</div>
                        <div class="inner">
                            <div class="border1"></div>
                            <span>Drop a Line</span>
                        </div>
                        <p>For Business inquiry fill below form or Troll free number - <a href="tel:901.413.4646">(901) 413-4646</a></p>
                    </div>
                    <form name="contact" action="/contact-success" data-netlify="true" method="POST" data-netlify-recaptcha="true" id="contact-form" class="default-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-box">
                                    <input type="text" name="name" value="" placeholder="Your Name*" required="">
                                </div>
                                <div class="input-box"> 
                                    <input type="email" name="email" value="" placeholder="Email Address*" required="">
                                </div>
                                <div class="input-box">
                                    <input type="text" name="phone" value="" placeholder="Phone #*" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-box">    
                                    <textarea name="message" placeholder="Tell us about your project needs.." required=""></textarea>
                                </div>
                                <div>
                                    <div data-netlify-recaptcha="true"></div>
                                </div>
                                <div class="button-box">
                                    <!-- <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value=""> -->
                                    <button class="btn-one" type="submit">Send</button>    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        	<div class="col-md-12">
                        		<em>* all form fields are required</em>
                        	</div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xl-4 col-lg-8 col-md-12 col-sm-12">
                <div class="quick-contact-box">
                    <h3>Head Office</h3>
                    <ul class="top">
                        <li>
                            <div class="title">
                                <h3>Servicing the Mid-South</h3>
                            </div>
                            <div class="text">
                                <p>6229 MS-305 Suite K<br> Olive Branch, MS 38654</p>
                                <p><a class="btn-small" href="https://goo.gl/M6ju6h" target="_blank">Get Direction</a></p>
                            </div>
                        </li>
                    </ul>
                    <ul class="bottom">
                        <li>
                            <div class="title">
                                <h5>Phone</h5>
                            </div>
                            <div class="text">
                                <p><a href="tel:901.413.4646">(901) 413-4646</a></p>
                            </div>      
                        </li>
                        <li>
                            <div class="title">
                                <h5>Email</h5>
                            </div>
                            <div class="text">
                                <p><a href="mailto:maxelectric.inc@gmail.com">maxelectric.inc@gmail.com</a></p>
                            </div>      
                        </li>
                    </ul>
                </div>      
            </div>
            
        </div>
    </div>
</section>
<!--End contact form area-->