<!--Start Caption Area-->
<section class="caption-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="caption-title float-left">
                    <h2>Quality service for construction projects and Automative service.</h2>
                </div>
                <div class="request-button float-right">
                    <a class="btn-one" href="#">Request for a Quote</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Caption Area-->