Start footer area-->  
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <!--Start single footer widget-->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="single-footer-widget marbtm50">
                    <div class="footer-contact-info">
                        <h3>Let’s start your next project,<br> Looking forward to speaking to you!</h3> 
                        <ul class="contact-info">
                           
                            <li class="single">
                                <span>Phone</span>
                                <p><a href="tel:901.413.4646"><span class="icon-phone"></span>&nbsp; (901) 413-4646</a></p>
                            </li>
                            <li class="single">
                                <span>Email</span>
                                <p><a href="mailto:maxelectric.inc@gmail.com"><span class="icon-mail"></span>&nbsp; maxelectric.inc@gmail.com</a></p>
                            </li>
                            <li class="single">
                                <span>Follow us on:</span>
                                <div class="footer-social-links">
                                    <ul>
                                        <li>
                                            <a href="https://www.bbb.org/us/ms/olive-branch/profile/electrician/max-electric-inc-0543-44037810" target="_blank">
                                                <i class="fa fa-building"></i>
                                                <span>BBB<span>
                                                <i class="fa fa-arrow-right external"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.buildzoom.com/contractor/max-electric-inc" target="_blank">
                                                <i class="fa fa-building"></i>
                                                <span>BuildZoom</span>
                                                <i class="fa fa-arrow-right external"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>    
                    </div>
                </div>
            </div>
            <!--End single footer widget-->
            
            <!--Start single footer widget-->
            <!-- <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12">
                <div class="single-footer-widget marbtm50">
                    <div class="title">
                        <h3>About Us</h3>
                    </div>
                    <ul class="about-links">
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Case Studies</a></li>
                        <li><a href="#">Get a Quote</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
            </div> -->
            <!--End single footer widget-->
            
            <!--Start single footer widget-->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="single-footer-widget">
                    <div class="title">
                        <h3>Featured Services</h3>
                    </div>
                    <ul class="solutions-links">
                        <li><a href="/electric-repair-service">General Electrical Repairs</a></li>
                        <li><a href="/audio-video-service">Audio/Video Installation</a></li>
                        <li><a href="/alarm-system-service">Alarm Systems</a></li>
                        <li><a href="/home-safety-service">Home Safety Inspection</a></li>
                        <li><a href="/environmental-lighting-service">Environmental Lighting</a></li>
                        <li><a href="#">Home Remodeling Renovations</a></li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            
            <!--Start single footer widget-->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="single-footer-widget pdtop-50">
                    <div class="title">
                        <h3>Servicing the Mid-South</h3>
                    </div>
                    <ul class="locations">
                        <li>
                            <h3>Head Office</h3>
                            <p>6229 MS-305 Suite K<br>Olive Branch, MS 38654</p>
                            <p>&nbsp;</p>
                            <p><a class="btn-small" href="https://goo.gl/M6ju6h" target="_blank">Get Direction <i class="fa fa-arrow-right external"></i></a></p>
                            <p><a class="btn-small" href="/contact">Contact Us</a></p>
                        </li>
                    </ul>   
                </div>
            </div>
            <!--End single footer widget-->
        </div>
    </div>
</footer>   
<!--End footer area