<head>
	<meta charset="UTF-8">
	<title>{{ page.title }} | Max Electric | MidSouth Electrician</title>
	<!-- responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- master stylesheet -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- Responsive stylesheet -->
	<link rel="stylesheet" href="/css/responsive.css">
    <!--Color Switcher Mockup-->
    <link rel="stylesheet" href="/css/color-switcher-design.css">
    <!--Color Themes-->
    <link rel="stylesheet" href="/css/color-themes/default-theme.css" id="theme-color-file">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/icon-180.png">
    <link rel="icon" type="image/png" href="/images/icon/icon-32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/icon/icon-16.png" sizes="16x16">    
</head>