<section class="call-to-action-area" style="padding-bottom: 0;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="callto-action">
                    <ul>
                        <li class="single-box wow fadeInUp" data-wow-delay="300ms">
                            <a class="blind-link" href="/electric-repair-service"></a>
                            <div class="top">
                                <div class="icon-holder">
                                    <span class="icon-gear"></span>    
                                </div>
                                <div class="title-holder">
                                    <h3>Troubleshooting & Electrical Repairs</h3>
                                </div>
                            </div>
                            <div class="text-holder">
                                <p>Seconadary text for this service card. This will give a brief intro to what this service offers.</p>
                                <a class="btn-two" href="/electric-repair-service"><span class="icon-arrow"></span>Learn More</a>
                            </div>
                        </li>
                        <li class="single-box wow fadeInUp" data-wow-delay="600ms">
                            <a class="blind-link" href="/audio-video-service"></a>
                            <div class="top">
                                <div class="icon-holder">
                                    <span class="icon-worker"></span>    
                                </div>
                                <div class="title-holder">
                                    <h3>Audio Video <br>Installation</h3>
                                </div>
                            </div>
                            <div class="text-holder">
                                <p>Seconadary text for this service card. This will give a brief intro to what this service offers.</p>
                                <a class="btn-two" href="/audio-video-service"><span class="icon-arrow"></span>Learn More</a>
                            </div>
                        </li>
                        <li class="single-box wow fadeInUp" data-wow-delay="900ms">
                            <a class="blind-link" href="/alarm-system-service"></a>
                            <div class="top">
                                <div class="icon-holder">
                                    <span class="icon-worker-1"></span>    
                                </div>
                                <div class="title-holder">
                                    <h3>Alarm Systems install & monitored</h3>
                                </div>
                            </div>
                            <div class="text-holder">
                                <p>Seconadary text for this service card. This will give a brief intro to what this service offers.</p>
                                <a class="btn-two" href="/alarm-system-service"><span class="icon-arrow"></span>Learn More</a>
                            </div>
                        </li>
                    </ul>
                </div>   
            </div>
        </div> 
    </div>    
</section>
<!--End Call To Action Area-->