<section class="call-to-action-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="callto-action">
                    <ul>
                        <li class="single-box wow fadeInUp" data-wow-delay="300ms">
                            <div class="top">
                                <div class="icon-holder">
                                    <span class="icon-work"></span>    
                                </div>
                                <div class="title-holder">
                                    <h3>Industial<br> Construction</h3>
                                </div>
                            </div>
                            <div class="text-holder">
                                <p>Expound the actual teachings the great explorer of the truth, the master-builder of human happiness.</p>
                                <a class="btn-two" href="ser-gas-petroleum.html"><span class="icon-arrow"></span>Read More</a>
                            </div>
                        </li>
                        <li class="single-box wow fadeInUp" data-wow-delay="600ms">
                            <div class="top">
                                <div class="icon-holder">
                                    <span class="icon-london"></span>    
                                </div>
                                <div class="title-holder">
                                    <h3>Bridge<br> Construction</h3>
                                </div>
                            </div>
                            <div class="text-holder">
                                <p>To take a trivials example, which of our undertakes laborious physical exercise, obtain some advantage.</p>
                                <a class="btn-two" href="ser-military-contracts.html"><span class="icon-arrow"></span>Read More</a>
                            </div>
                        </li>
                        <li class="single-box wow fadeInUp" data-wow-delay="900ms">
                            <div class="top">
                                <div class="icon-holder">
                                    <span class="icon-oil"></span>    
                                </div>
                                <div class="title-holder">
                                    <h3>Petroleum<br> and Gas Energy</h3>
                                </div>
                            </div>
                            <div class="text-holder">
                                <p>Any right to find fault with man chooses to enjoy a pleasure that has annoying one avoids.</p>
                                <a class="btn-two" href="ser-gas-petroleum.html"><span class="icon-arrow"></span>Read More</a>
                            </div>
                        </li>
                    </ul>
                </div>   
            </div>
        </div> 
    </div>    
</section>
<!--End Call To Action Area-->