<!--Start team area-->
<section class="team-area">
    <div class="container">
        <div class="sec-title text-center">
            <div class="inner clr2"><span class="clr2">Team</span></div>
            <div class="title clr2">Meet our expert team</div>
        </div>
        <div class="row">
            <!--Start single item member-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="single-team-member">
                    <div class="img-holder">
                        <img src="/images/team/1.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <ul class="social-links">
                                        <li>
                                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="name">
                        <span>Founder</span>
                        <h3>Thomas Bennet</h3>
                        <div class="mail-box">
                            <a class="btn-two" href="#"><span class="icon-arrow"></span>Mail Me</a>
                            <a class="btn-two btn-three" href="#"><span class="icon-arrow"></span>richards@example.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item member-->
            
            <!--Start single item member-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="single-team-member">
                    <div class="img-holder">
                        <img src="/images/team/2.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <ul class="social-links">
                                        <li>
                                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="name">
                        <span>Vice President</span>
                        <h3>Mark Richardson</h3>
                        <div class="mail-box">
                            <a class="btn-two" href="#"><span class="icon-arrow"></span>Mail Me</a>
                            <a class="btn-two btn-three" href="#"><span class="icon-arrow"></span>richards@example.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item member-->
            
            <!--Start single item member-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="single-team-member">
                    <div class="img-holder">
                        <img src="/images/team/3.jpg" alt="Awesome Image">
                        <!-- <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <ul class="social-links">
                                        <li>
                                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="name">
                        <span>Senior Engineer</span>
                        <h3>Christio Jospher</h3>
                        <div class="mail-box">
                            <a class="btn-two" href="#"><span class="icon-arrow"></span>Mail Me</a>
                            <a class="btn-two btn-three" href="#"><span class="icon-arrow"></span>richards@example.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item member-->
            
            <!--Start single item member-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="single-team-member">
                    <div class="img-holder">
                        <img src="/images/team/4.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <ul class="social-links">
                                        <li>
                                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="name">
                        <span>HR Manager</span>
                        <h3>Grey Fenton</h3>
                        <div class="mail-box">
                            <a class="btn-two" href="#"><span class="icon-arrow"></span>Mail Me</a>
                            <a class="btn-two btn-three" href="#"><span class="icon-arrow"></span>richards@example.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item member-->
             
        </div>
    </div>
</section>
<!--End team area-->     